body {
	background-color: #FFF4F2;
	}

h1 {
		color: black;
		font-famiy:"Times New Roman", serif;
		font-size: 40px;
	}
	a{
		color:black;
	}
	a:hover{
		color: black;
	}
	a{
	text-decoration: none;	
	}

p {
		color: black;
		font-size: 25px;
	}

img {
		padding: 16px, 20px;
		box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: center;
	}

.topnav {
		background-color:#A4133C;
		overflow: hidden;
		}

		.topnav a {
			float: left;
			color: #ffccd5; 
			text-align: center; 
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		.topnav a:hover {
			background-color: #800f2f;
			color: white;
		}

		.topnav a.active {
			background-color: #590d22;
			color: #fff0f3;
		}
